* {
    --base-color: #cc0066
}

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    /* background-color: rgba(0, 0, 0, 0.0); */
    color: #333;
    /* line-height: 1.6; */
}

/* Header styles */
header {
    background-color: var(--base-color);
    color: #fff;
    padding: 0.2rem;
    text-align: center;
}

.nav-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin: 0;
}

.nav-link {
    list-style-type: none;
    display: inline-block;
    /* margin-left: 20px; */
    padding: 2rem;
    font-weight: bold;
}

.nav-link a {
    text-decoration: none;
    color: #fff;
}

.nav-link:hover a{
    color: #000000;
}

.bg {
    background-image: url("/bg.png");
    background-color: #2f0707;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


/* Form styles */

.container {
    position: relative;
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
}

#bg-img {
    width: 100%; /* Ensures image fills its container */
    height: auto; /* Maintains aspect ratio */
}

.reg-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Additional styling for the form */
    
    width: 600px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reg-form div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: var(--base-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff0080;
}

@media (max-width: 620px) {
    header {
        padding: 0.1rem;
    }

    .reg-form {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .reg-form {
        width: 400px;
    }
}

@media (max-width: 430px) {
    .reg-form {
        width: 300px;
    }
}

@media (max-width: 416px) or (max-width: 390px) {
    header {
        /* padding: 50px; */
    }

    .reg-form {
        width: 300px;
    }
}

@media (max-width: 390px) {
    .reg-form {
        width: 250px;
    }
}
