/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    
    --base-color: #cc0066;
    --base-color-deep: #b31552;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Header styles */
header {
    background-color: var(--base-color);
    color: #fff;
    padding: 0.2rem;
    text-align: center;
}

.nav-tab {
    display: flex;
    flex-direction: column; /* Change to column for mobile */
    justify-content: center;
    align-items: center;
}

.nav-tab ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Change to column for mobile */
}

.nav-link {
    list-style-type: none;
    padding: 1rem;
    font-weight: bold;
}

.nav-link a {
    text-decoration: none;
    color: #fff;
}

.nav-link:hover a {
    color: #590022;
}

.bg {
    background-image: url("/bg.png");
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-attachment: fixed;
}


/* Footer */
footer {
    background-color: var(--base-color-deep);
    color: #fff;
    padding: 0.2rem;
    text-align: center;
}

.footer-link {
    padding: 1rem;
}

.dev-link {
    /* text-decoration: none; */
    color: white;
}

/* Form styles */

.container {
    width: 100%; /* Ensure container takes full width */
    padding: 20px;
}

.form-title {
    text-align: center;
    color: white;
    background: var(--base-color-deep);
    padding: 1rem;
}

.statement {
    font-size: 24px;
    font-weight: bold;
}

.reg-form {
    color: white;
    width: 100%; /* Full width for mobile */
    max-width: 700px; /* Maximum width for larger screens */
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    background-color: #b31552d2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reg-form div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"], input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checklist {
    font-size: 18px;
}


button[type="submit"] {
    background-color: var(--base-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Full width button for mobile */
}

button[type="submit"]:hover {
    background-color: #ff0080;
}

/* Media Queries */

/* Tablet styles */
@media (min-width: 600px) {
    .bg {
        height: 250vh;
    }

    .nav-tab {
        flex-direction: row; /* Row direction for tablets */
        justify-content: space-between;
    }

    .nav-tab ul {
        flex-direction: row; /* Row direction for tablets */
    }

    .reg-form {
        top: 60%;
        width: 80%; /* 80% width for tablets */
    }
}

/* Desktop styles */
@media (min-width: 900px) {
    .reg-form {
        top: 60%;
        width: 60%; /* 60% width for desktops */
    }

    .nav-tab ul {
        flex-direction: row; /* Row direction for desktops */
    }
}

@media (min-width: 300px) {
    .bg {
        height: 180vh;
    }
}
