---
import Layout from "../components/layout.astro"
const Title = ""
---

<Layout>
	<!-- <div class="container">
		<img id="bg-img" src="/public/bg.png" alt="Background Image">
	</div> -->

	<div class="bg"></div>
	
	<form class="reg-form">
		<div>
		  <label for="type">Vehicle Type:</label>
		  <select id="type" name="type" required>
			<option value="tricycle">Tricycle</option>
			<option value="motorcycle">Motorcycle</option>
		  </select>
		</div>

		<div>
		  <label for="owner_name">Owner Name:</label>
		  <input type="text" id="owner_name" name="owner_name" required />
		</div>

		<div>
		  <label for="vehicle_model">Vehicle Model:</label>
		  <input type="text" id="vehicle_model" name="vehicle_model" required />
		</div>

		<div>
		  <label for="registration_number">Registration Number:</label>
		  <input type="text" id="registration_number" name="registration_number" required />
		</div>
		
		<button type="submit">Register Vehicle</button>
	</form>
</Layout>
