---
import Layout from "../components/layout.astro"
---

<Layout>
	<div>
		<h1 class="form-title">Home</h1>
		
	</div>

	<div class="hero-section">
		<!-- <img src="/bg.png" alt="img" class=""> -->
		 <div>
			<h1 class="hero-title"style="text-align: center; color:white;">Welcome to NACTOMORAS Registration Form</h1>
		 </div>
	</div>

	<div class="about-section">
		<h1 class="form-title">About Us</h1>

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vitae porro impedit eum perferendis vel laboriosam
			mollitia similique non culpa minima, odit fugit? Voluptas, repellendus autem quae adipisci, voluptatibus totam accusamus 
			inventore consectetur dicta ducimus eum ullam. Architecto qui officia molestias autem. Praesentium natus nesciunt sapiente
			iste consequuntur sunt possimus inventore nostrum ullam voluptas illum maiores nobis facere quibusdam asperiores, quasi
			necessitatibus non. Corporis quae molestiae earum, error pariatur totam voluptatibus mollitia in omnis repellat,
			ea incidunt? Eos, nulla rem laboriosam veniam tenetur repellendus ad consectetur deleniti animi ipsam qui accusantium
			commodi ex ab sint neque! Illo dolorem iusto obcaecati?
		</p>
	</div>
</Layout>
