---
import Layout from "../components/layout.astro"
import  "../styles/records.css"
import { query } from "../scripts/database.js"

let data;

try {
  data = await query('SELECT name, email FROM users');
} catch (error) {
  console.error(error);
  data = [];
}
---

<Layout>
  <h1 class="form-title">Records List</h1>
	<ul>
		{data.map(_data => (
		  <li class="record-data"><strong>Fullname:</strong> {_data.name}</li>
          <li class="record-data"> <strong>Email:</strong> {_data.email}</li>
		))}
	</ul>
</Layout>