---
import Layout from "../components/layout.astro";
---

<Layout>
    <div class="bg">
		<h1 class="form-title">Register</h1>
		<form class="reg-form">
			<p class="statement">1. I, the undermentioned person which name and identification mark is as follow:</p><br>

			
			<div>
			  <label for="name">Name:</label>
			  <input type="text" id="name" name="name" required/>
			</div>

			<div>
				<label for="type">Vehicle Type:</label>
				<select id="type" name="type" required>
				  <option value="tricycle">Tricycle</option>
				  <option value="motorcycle">Motorcycle</option>
				</select>
			</div>
	
			<div>
				<label for="res_address">Residential Address:</label>
				<input type="text" id="res_address" name="res_address" required />
			</div>
	
			<div>
				<label for="lga">L.G.A:</label>
				<input type="text" id="lga" name="lga" required />
			</div>
	
			<div>
				<label for="ward">Ward:</label>
				<input type="text" id="ward" name="ward" required />
			</div>
	
			<div>
				<label for="skill_sets">Trade/Skill Sets:</label>
				<input type="text" id="skill_sets" name="skill_sets" required />
			</div>
	
			<div>
				<label for="dob">Date of Birth:</label>
				<input type="date" id="dob" name="dob" required />
			</div>
	
			<div>
				<label for="pob">Place of Birth:</label>
				<input type="text" id="pob" name="pob" required />
			</div>
	
			<div>
				<label for="type">Complexion:</label>
				<select id="complexion" name="complexion" required>
				  <option value="very_fair_skin">Very fair skin</option>
				  <option value="fair_skin">Fair skin</option>
				  <option value="medium_skin">Medium skin</option>
				  <option value="olive_skin">Olive skin</option>
				  <option value="brown_skin">Brown skin</option>
				  <option value="black_skin">Black skin</option>
				</select>
			</div>

			<div>
				<label for="phone_no">Phone No.:</label>
				<input type="text" id="phone_no" name="phone_no" required />
			</div>

			<div>
				<label for="blood_group">Blood Group:</label>
				<input type="text" id="blood_group" name="blood_group" required />
			</div>

			<div>
				<label for="sor">State of Origin:</label>
				<input type="text" id="sor" name="sor" required />
			</div>

			<div>
				<label for="nationality">Nationality:</label>
				<input type="text" id="nationality" name="nationality" required />
			</div>

			<div>
				<label for="unit">Unit:</label>
				<input type="text" id="unit" name="unit" required />
			</div>

			<div>
				<label for="lg">Local Government:</label>
				<input type="text" id="lg" name="lg" required />
			</div>

			<p class="statement">Next of Kin:</p><br>

			<div>
				<label for="name-nok">Name:</label>
				<input type="text" id="name-nok" name="name-nok" required />
			</div>

			<div>
				<label for="phone_no-nok">Phone No.:</label>
				<input type="text" id="phone_no-nok" name="phone_no-nok" required />
			</div>

			<div>
				<label for="address-nok">Address of Next kin:</label>
				<input type="text" id="address-nok" name="address-nok" required />
			</div>

			<div>
				<label for="nationality-nok">Nationality:</label>
				<input type="text" id="nationality-nok" name="nationality-nok" required />
			</div>

			<div>
				<label for="state_chapter-nok">State Chapter:</label>
				<input type="text" id="state_chapter-nok" name="state_chapter-nok" required />
			</div>

			<div>
				<label for="lga-nok">L.G.A.:</label>
				<input type="text" id="lga-nok" name="lga-nok" required />
			</div>

			<div>
				<label for="unit-nok">Unit:</label>
				<input type="text" id="unit-nok" name="unit-nok" required />
			</div>

			<p class="statement">2. Hereby agree to become a member of this National Commercial Tricycle and Motorcycle Owners and Riders Association</p><br>

			<div>
				<label for="reg_date">Registration Date:</label>
				<input type="date" id="reg_date" name="reg_date" required />
			</div>

			<p class="statement">3. Thereafter I agree with the following rules and regulations of this Association</p><br>
			
			<div>
				<input type="checkbox" name="checkbox" id="check-1"> <span class="checklist">I will not ply the road without valid driving license/riders identification card</span>
			</div>

			<div>
				<input type="checkbox" name="checkbox" id="check-2"> <span class="checklist">I will ensure that the particulars of my tricycle/motorcycle is up to date and valid</span>
			</div>

			<div>
				<input type="checkbox" name="checkbox" id="check-3"> <span class="checklist">From time to time I promise to obey my my leaders, obtain my daily development/weekly intervention ticket/NACTOMORAS Life assurance policy and contribute my own quota to the association and be of good conduct.</span>
			</div>

			<div>
				<input type="checkbox" name="checkbox" id="check-4"> <span class="checklist">I will always obey the rules and regulation of the Association as contained in the constitution</span>
			</div>

			<div>
				<input type="checkbox" name="checkbox" id="check-5"> <span class="checklist">I shall not cause trouble or fight in my park with passengers, members, official, or any member of the public</span>
			</div>
			
			<div>
				<input type="checkbox" name="checkbox" id="check-6"> <span class="checklist">Finally, I will not do anything that can tarnish the image of this Association, authorities outside or within the Association</span>
			</div>

			<div>
				<input type="checkbox" name="checkbox" id="check-7"> <span class="checklist">
					RESIGNATION: Any member of the Association who wish to resign his membership shall give a notice in writing to the secretariat. 
					However, the resignation shall not take effect unless and until same has approved in a council in a special session(Article 111 of the constitution). 
					Therefore, I agree that I am liable for prosecution from Association authorities if I disobey and commit an offence as stated above.
				</span>
			</div>

			<div>
				<p class="statement">
					Declaration: I the above mentioned person whose name, identification and photograph appears on this application 
					form sign below that all therules and regulation of the association shall from time to time adhere to by me. 
					In that all infromation given above by me are true and correct.
				</p>
			</div>
			
			<button type="submit">Register Vehicle</button>
		</form>
	</div>
</Layout>