---
let link = "https://github.com/mike05-debug"
---

<footer>
    <nav class="nav-tab">
        <p class="footer-link">made by <a class="dev-link" href={link} target="_blank ">m1chaelDev</a></p>
    </nav>
</footer>