---

---

<header>
    <nav class="nav-tab">
        <img src="/public/Logo.png" alt="" width="150px" height="120px">
        <h1 class="title">Tricycle & Motorcycle Owners Registration Form</h1>
        <ul>
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/">Register</a></li>
        </ul>
    </nav>
</header>