---
import HeaderLayout from "./headerLayout.astro"
import "../styles/global.css"
const pageTitle = "KRF"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>

    <body>
        <HeaderLayout />
        <slot />
    </body>
</html>